{% extends 'voenka/base.html' %}

{% block title %}
    Цитаты и анекдоты
{% endblock %}

{% block content_title %}
Цитаты и анекдоты
{% endblock %}

{% block content %} 
<p>Специально для охраны Государственной границы, учёные скрестили сторожевую собаку и кролика... Теперь она не только догоняет нарушителя, но и наказывает.</p>
<br>
<hr>
<p>Летит транспортный самолет со своей крейсерской скоростью, его эскортируют 2 истребителя. Пилотам на истребителях скучно "ползти" с такой скоростью, ну они и начали: "Второй, а ты так можешь? " И раз, петлю. "Третий, могу" Повторяет и: "А ты так? " Делает колокол. Выпендриваются, а пилота транспортника это задело, он по рации: "Второй, третий, а спорим, я сейчас такое сделаю, что вы не повторите. " Эти пристраиваются сзади, чтоб лучше видеть. "Первый, давай! " "Смотрите! " И продолжает лететь по прямой. Минуту, две,... пять. Истребители не выдерживают: "Первый! Ну? " "А я уже сделал! " "Что? " "Сходил пос-рал с сигареткой!! "</p>
<br>
<hr>
<p>Два друга: — Представляешь, Саню в армию забирают! — Как? Он же этот... как его... его не возьмут. — Возьмут, возьмут — уж больно он полковнику приглянулся.</p>
<br>
<hr>
<p>В каптерке сидят старшина роты, ротный и замполит. Ротный подмигивает замполиту — мол, разыграем старшину: — Старшина, сгоняй в канцелярию, глянь — ротный там аль нет? Старшина убегает. Замполит ржет: — Вот дурак, нет бы дневального послать...</p>
{% endblock %}