{% extends 'voenka/base.html' %}

{% block title %}
    Военпом
{% endblock %}

{% block content_title %}
    Добро пожаловать, студент!
{% endblock %}

{% block content %} 
<div class="text_content">
    <br>
    <p>Данный ресурс предназначен для того, чтобы помочь тебе разобраться в такой непростой и обьемной теме, как Военный Учебный Центр НИУ ВШЭ.</p>
    <br>
    <p>Если ты только поступаешь в ВУЦ, то ты можешь посмотреть подробный гайд по поступлению. Так же ты можешь зайти в маркетплейс и купить униформу от старших боевых товарищей, которые уже закончили ВУЦ и готовы продать свои вещи. Это будет сильно дешевле чем покупать новое)</p>
    <br>
    <p>Если же ты уже учишься в ВУЦ, то ты можешь выставить свои военные вещи на продажу молодым товарищам, которые только поступили в ВУЦ. Также ты можешь почитать смешные цитаты и военные аннектоды)</p>
</div>
{% endblock %}