{% extends 'voenka/base.html' %}

{% block title %}
    Донат
{% endblock %}

{% block content_title %}
    Поддержите автора!
{% endblock %}

{% block content %} 
    <p>
        Буду искренне благодарен каждому, кто скинет немного на оплату аренды сервака и кофе)
    </p>
    <p>
        Это был непростой проект для создания, даже больше не с технической точки зрения, а с точки зрения поиска и представления информации, было потрачено много времени.
        Так что если вы сочти этот сайт для себя полезным, то мне будет очень приятно получить денюжку)
    </p>
    <h5>
        Сбербанк:
    </h5>
    <h4>+7 916 943 29 47 </h4>
    <h4>4276 3802 6562 2550</h4>

{% endblock %}