<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <title>QR creator</title>
</head>

<body>
    <form enctype="multipart/form-data" method="post" novalidate>
        <fieldset>
            <legend>Введите ваши данные</legend>
            <div class="form-group">
                <label class="form-label mt-4">Дата рождения</label>
                <input type="birth_date" class="form-control" aria-describedby="Дата рождения" placeholder="30 июня" name="birth_date">
            </div>
            <div class="form-group">
                <label for="example" class="form-label mt-4">ФИО</label>
                <input name="fio" type="fio" class="form-control" placeholder="Иванов Иван Иванович">
                <small id="emailHelp" class="form-text text-muted">Мы не будем полностью хранить ваше ФИО, нам нужно знать только первые буквы и кол-во букв в ФИО.</small>
            </div>
            <button type="submit" class="btn btn-light">Подтвердить</button>
        </fieldset>
    </form>
</body>

</html>