#title {
    margin-top: 20px;
}

#title h1 {
    text-align: center;
}

#footer {
    min-height:50px; 
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

.text_content p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8em;
    font-weight: 300;
    line-height: 1.1em;
    color: rgb(22, 24, 24);
}

#carouselExampleControls {
    margin-top: 30px;
    margin-bottom: 30px;
}

.me img {
    max-height:60%;
    width: auto;
    margin-right: auto;
    margin-left: auto;
}

.me div {
    width: 100%;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    margin-left: -250px;
    min-width: 250px;
    max-width: 250px;
    background: #37383d;
    color: #fff;
    transition: all 0.3s;
}

footer {
    margin-top: 30%;
    bottom:0;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #37383d;
}

#sidebar.active {
    margin-left: 0px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #2e2f31;
    background: rgba(170, 165, 165, 0.411);
}

#sidebarCollapse {
    margin-right: 20px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 110vh;
    transition: all 0.3s;
}

#donat {
    float: right;
}

#menu {
    width: 100%;
}

#in {
    margin-left: auto;
    margin-right: 2%;
}

#out {
    margin-right: auto;
}

#state_header{
    margin-top: 2%;
    margin-bottom: 1.5%;
}

#state_header h2{
    text-align: center;
}

#paragraph {
    text-align: center;
    margin: auto;
    padding-left: 6%;
    padding-right: 6%;
}

#paragraph ul{
    text-align: left;
}

#paragraph p{
    color: #2e2f31;
}

#paragraph a{
    color: #b37a72;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 600px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 7px;
    margin-right: 7px;
    text-align: center;
    font-family: arial;
    float: left;
}

.card h1 {
    text-size-adjust: auto;
}

.card img {
    max-height: 230px;
    width: auto;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

.marketplace div {
    border: 3px solid #fff;
    padding: 20px;
    margin-top: 15px;
}