{% extends 'base.html' %}

{% block title %}
    Гайд
{% endblock %}

{% block content_title %}
    Гайд к поступлению
{% endblock %}

{% block content %} 
    <div id="state_header">
        <h2>Кратко о военных учебных центрах</h2>
    </div>
    <div id="paragraph">
        Начну с того, что военные кафедры упразднены, и теперь такие заведения называются военными учебными центрами(ВУЦ), и именно так я буду их называть в данной статье.
        Теперь о том, что такое военный учебный центр. 
        ВУЦ - место, которое позволит тебе совмещать учебу с получением военного билета. После окончания обучения, год служить в армии не надо будет, в худшем случае, вы 
        должны будете явиться на сборы, которые редко длятся дольше месяца. Именно по этой причине туда так стремятся студенты. 
    </div>
    <div id="state_header">
        <h2>Плюсы и минусы учебы в ВУЦ</h2>
    </div>
    <div id="paragraph">
        <h4>Плюсы:</h4>
        <ul>
            <li>Военник, который освобождает от года в армии, дает возможность без проблем работать в гос корпорациях, где его обычно требуют, можно работать по контракту в армии</li>
            <li>Можно заниматься спортом(рукопашка, турники и тд)</li>
            <li>Знакомства</li>
            <li>Развитие soft skills, таких как дисциплина, лидершип, умение говорить и тд</li>
        </ul>
        <h4>Минусы:</h4>
        <ul>
            <li>День в неделю практически полностью будет уходить на военку. На протяжении 1.5 - 3 лет, об этом чуть позже.</li>
            <li>Надо будет коротко подстричься</li>
            <li>Правила и атмосфера армии могуть быть неприятны и сложны для некоторых</li>
        </ul>
        <p>
            Теперь отвечу на один из самых волнующих вопросов для перваков, которые хотят поступить на военку. Насколько это сложно? <br>
            Самым частым препядствием для поступающих является именно здровье, а не успеваемость и сдача физ нормативов. Особенно часто подводит зрение. Но, если с вашим здоровьем все в поряде, 
            то вам особо переживать не за что, с огромной долей вероятности вы поступите, если закроете все бюрократические вопросы в срок. Об тонкостях бюрократии и о том, как еще больше повысить свои шансы на 
            поступление, поговорим чуть позже.
        </p>
        <br>
        <div id="state_header">
            <h2>Основная часть</h2>
        </div>
        Теперь, после некоторой вступительной части, можно начать уже конкретно разбирать этапы поступления на военку.
        <ol>
            <li>Итак, первым этапом может быть физ подготовка к испытаниям. Этот этап необязательный, но будет круто если вы заранее подготовитесь к физ испытаниям и хорошо там себя покажете.</li>
            <li>
                Второй этап уже обязательный, он же один из самых трудоемких и непонятных. Этот этап включает в себя отправку гугл формы на сайте вуца и сбор требуемых докуметов.
                <br>
                <h4>Требуемые документы:</h4>
                <ul type="disc">
                    <li>Паспорт гражданина Российской Федерации 2, 3, 4, 5 (с регистрацией) страниц паспорта</li>
                    <li>Студенческий билет</li>
                    <li>Удостоверение гражданина, подлежащего призыву на военную службу 1, 2 и 3 страница</li>
                    <li>Справка о наличии (отсутствии) судимости</li>
                    <li>Характеристика студента из учебного офиса</li>
                    <li>Карта медицинского освидетельствования</li>
                    <li>Карта профессионального психологического отбора</li>
                </ul>
                Если с первыми двумя документами проблем ни у кого быть не должно, то дальше идут трудности. Во-первых, вы должны <a href="https://www.mos.ru/otvet-obrazovanie/kak-vstat-na-voinskiy-uchet/" target="_blank">сделать себе </a> "Удостоверение гражданина, подлежащего призыву на военную службу", 
                если его у вас по какой либо причине не было. 
                <br>
                Дальше, справка о наличии(отсутствии) судимости - получить ее можно <a href="https://www.gosuslugi.ru/16587/1" target="_blank">тут</a> .
                <br>
                Чтобы получить характеристику, достаточно заполнить форму в сервисе <a href="https://docs.google.com/forms/d/e/1FAIpQLSesA9ksy-LMppWal9HFSjUD8i_7PkC6OfnrL2nYeQrPZ1BEHQ/viewform" target="_blank">"Мои документы"</a>. Потом можно на всякий случай распечатать ее и в последствии взять ее с 
                собой когда надо будет ехать в вуц отвозить прочие документы. Но вообще, оригинал учебный офис сам отправит в ВУЦ.
                <br>
                Теперь самое интересное - карта медицинского освидетельствования. Для получения данной карты, требуется для начала раздобыть эти справки:
                <ul type="disc">
                    <li>Общий анализ крови</li>
                    <li>Общий анализ мочи</li>
                    <li>Флюорография легких в двух проекциях</li>
                    <li>Рентгенография придаточных пазух носа</li>
                    <li>Электрокардиографию (ЭКГ)</li>
                    <li>Анализ крови на скрытые инфекции, в том числе ВИЧ, СПИД и гепатит</li>
                    <li>Исследование на наркотические средства</li>
                    <li>Серологические реакции на сифилис</li>
                </ul>
            </li>
        </ol>
        
    </div>
{% endblock %}