{% extends 'base.html' %}

{% block title %}
    Инструкции
{% endblock %}

{% block content_title %}
    Инструкции к поступлению
{% endblock %}

{% block content %} 
    <div id="state_header">
        <h2>Кратко о военной кафедре</h2>
    </div>
    <div id="paragraph">
        Начну с того, что военные кафедры упразднены, и теперь такие заведения называются военными учебными центрами(ВУЦ), и именно так я буду их называть в данной статье.
        Теперь о том, что такое военный учебный центр. ВУЦ - место, которое позволит тебе совмещать учебу и/или работу с получением военного билета.
    </div>
{% endblock %}